amqp==5.1.1
asgiref==3.5.2
async-timeout==4.0.2
attrs==22.2.0
autobahn==23.1.1
Automat==22.10.0
autopep8==1.6.0
backports.zoneinfo==0.2.1
billiard==3.6.4.0
boto3==1.24.42
botocore==1.27.42
celery==5.2.7
certifi==2022.6.15
cffi==1.15.1
channels==4.0.0
channels-redis==4.0.0
charset-normalizer==2.1.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cmdstanpy==1.2.1
constantly==15.1.0
contourpy==1.1.1
cron-descriptor==1.2.35
cryptography==39.0.2
cycler==0.12.1
daphne==4.0.0
Deprecated==1.2.13
Django==4.0.6
django-celery-beat==2.5.0
django-cors-headers==3.13.0
django-extensions==3.2.3
django-filter==22.1
django-oauth-toolkit==2.1.0
django-redis==5.2.0
django-rest-passwordreset==1.2.1
django-safedelete==1.2.2
django-silk==5.0.1
django-storages==1.14.3
django-timezone-field==5.0
djangogrpcframework==0.2.1
djangorestframework==3.13.1
dnspython==2.4.2
fonttools==4.49.0
gprof2dot==2021.2.21
grpcio==1.60.0
grpcio-tools==1.60.0
gunicorn==20.1.0
holidays==0.44
hyperlink==21.0.0
idna==3.3
importlib_resources==6.1.2
incremental==22.10.0
influxdb-client==1.31.0
Jinja2==3.1.2
jmespath==1.0.1
jwcrypto==1.3.1
kiwisolver==1.4.5
kombu==5.2.4
MarkupSafe==2.1.1
matplotlib==3.7.5
msgpack==1.0.4
numpy==1.24.2
oauthlib==3.2.0
packaging==21.3
paho-mqtt==1.6.1
pandas==1.5.3
pillow==10.2.0
plotly==5.19.0
prompt-toolkit==3.0.38
prophet==1.1.5
protobuf==4.25.1
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pymongo==4.4.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
python-crontab==2.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2022.1
redis==4.3.4
requests==2.28.1
Rx==3.2.0
s3transfer==0.6.0
scipy==1.10.1
service-identity==21.1.0
six==1.16.0
sqlparse==0.4.2
stanio==0.3.0
tenacity==8.2.3
toml==0.10.2
tqdm==4.66.2
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.4.0
tzdata==2022.1
urllib3==1.26.11
vine==5.0.0
wcwidth==0.2.6
wrapt==1.14.1
XlsxWriter==3.2.0
zipp==3.17.0
zope.interface==5.5.2
